.fileinput::-webkit-file-upload-button {
  background: rgb(240, 238, 238);
  color: gray;
  border: 1px solid transparent !important;
  padding: 2px;
  border-radius: 10px;
}
.error-msg {
  color: #dc3545;
  display: block;
  margin-top: 0.25rem;
  font-size: 80%;
}

.switch-label {
  display: inline;
}

.switch-input {
  display: inline;
}
