.font-bold {
    font-weight: bold;
}

.font-small {
    font-size: 0.6em;
}

.date-container {
    float: right;
}

.date-input {
    border-color: #ccc;
    border-radius: 10px;
}

.date-label {
    margin: 0.8em 0.8em 0 0;
    font-weight: bold;
}
