* {
	box-sizing: border-box;
}

body {
    background: white;
}

.login-container {
	// background: rgb(235, 238, 239);
    // background-image: url(../images/login-background.jpg);
    background-size: cover;
	background-repeat:no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    height: 100vh;
    .container {
        border: 1.25px solid $studio-primary;
    }
}

.login-copyright {
	text-align: center;
	font-size: 70%;
}

.icon-bever {
	height: 25px;
    width: 35px;
}

.social-container img {
	height: 25px;
    width: 25px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form-container-hidden {
    display: none !important;
}

.form-container-logo {
    height:28px;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: $studio-primary; //$studio-secondary;
	background: -webkit-linear-gradient(to right, $studio-primary, $studio-primary);
	background: linear-gradient(to right, $studio-primary, $studio-primary);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	position: absolute;
	background-color: $studio-primary; //$studio-secondary;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 0;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.overlay-logo-outer {
	border-radius: 50%;
	height:90px;
	width:90px;
	background-color: white;
	text-align: center;
	position: relative;

    img {
        position:absolute;
        top:20px;
        right:23px;
    }
    i {
        position:absolute;
        top:18px;
        right:17px;
        color: $studio-primary;
    }
}

.container {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 3;
	animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.login-form-heading {
	color: white;
}

.login-form-input {
	background-color: #eee;
    border: none;
	padding: 12px 12px;
	margin: 4px 0;
	width: 100%;
}

.login-form-link {
	color: $studio-secondary;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.login-form-link.signup-terms {
    font-size: 13px;
    vertical-align: middle;
}

.signup-terms {
    h1 {
        // color: $studio-primary;
        font-size: 1.5rem;
    }
    h2 {
        // color: $studio-secondary;
        font-size: 1.25rem;
        margin-left: 10px;
        margin-top: 0.5rem;
    }
    p {
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.75rem;
    }
    h5 {
        font-size: 0.5rem;
    }
    h6 {
        font-size: 0.25rem;
    }
}

.login-input-message {
    color: #dc3545;
    display: block;
    margin-top: 0.25rem;
    font-size: 80%;
}

.login-password-hint {
    font-size: 80%;
}

.password-toggle-container {
    position: relative;
    padding: 4px 4px;
    input {
        padding-right: 5px !important;
    }
    span {
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 14px;
        height: 28px;
        width: 35px;
        text-align: center;
        cursor: pointer;
    }
    span:hover {
        color: $studio-primary;
    }
}

.login-form-submit {
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: $studio-primary;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	transition: all 0.4s;
}

.login-form-submit:active {
	transform: scale(0.95);
}

.login-form-submit:hover {
	background-color: $studio-secondary;
}

.login-form-submit:disabled {
	background-color: grey;
}

.login-form-submit:focus {
	outline: none;
}

.login-form-submit.transparent {
	border-color: #ffffff;
}

.login-form-submit.transparent:disabled {
	background-color: grey;
	border-color: #ffffff;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 3;
	}
}
