.cloud-provider-card {
    cursor: pointer;
}

.tag-add-button {
    flex: 0 0 1.33333%;
}

.node-group-container {
    border: 0.1em solid #b8b8b8;
}

.switch-label {
    display: inline;
}

.switch-input {
    display: inline;
}

.environment-name {
    max-width: calc(100% - 85px);
}
